.gmnoprint[role='menubar'] {
  margin: 10px !important;
}
.gmnoprint button {
  padding: 10px !important;
}

.clear-polygons-button {
  top: 10px !important;
  right: 70px !important;
  height: 40px;

  background: none rgb(255, 90, 90);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: 0px;
  text-transform: none;
  appearance: none;
  position: absolute;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  overflow: hidden;
}

.clear-polygons-button:hover {
  background: none rgb(169, 34, 34);
}
